@inherits LayoutComponentBase
@using Blazored.Toast.Configuration



<div class="page">
    @Body
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
               Timeout="10"
               IconType="IconType.FontAwesome"
               SuccessClass="success-toast-overried"
               SuccessIcon="fa fa-thumbs-up"
               ErrorIcon="fa fa-bug"/>
